<div id="login">
    <img src="@/assets/logo.png">
    <h1>IsInit: {{ Vue3GoogleOauth.isInit }}</h1>
    <h1>IsAuthorized: {{ Vue3GoogleOauth.isAuthorized }}</h1>
    <h2 v-if="user">signed user: {{this.$parent.$parent.user}}</h2>
    <button @click="handleClickSignIn" :disabled="!Vue3GoogleOauth.isInit || Vue3GoogleOauth.isAuthorized">sign in</button>
    <!--<button @click="handleClickGetAuthCode" :disabled="!Vue3GoogleOauth2.isInit">get authCode</button>-->
    <button @click="handleClickSignOut" :disabled="!Vue3GoogleOauth.isAuthorized">sign out</button>
    <!--<button @click="handleClickDisconnect" :disabled="!Vue3GoogleOauth2.isAuthorized">disconnect</button>-->
</div>
